<!DOCTYPE html>
<!-- AUTHOR: Stephanie Li -->
<!-- DATE: Sunday, February 2, 2025 -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Layout Assignment | Stephanie Li</title>
    <link rel="stylesheet" href="css/styles.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
    </style>
</head>
<body>
    <div id="main-container">
        <div id="big-box">
            <img src="images/gerald.jpg">
            <div class="text">
                <h3 class="">Love is in the air, Gerald!</h3>
                <p>Just a bunny who likes fresh greens, afternoon naps, and being handsome. I bench 700 btw</p>
                <a target="blank" href="https://www.google.com/maps/place/Hamilton,+ON/@43.2608104,-79.9331491,10z/data=!3m1!4b1!4m6!3m5!1s0x882c986c27de778f:0x2b6aee56d8df0e21!8m2!3d43.2557206!4d-79.8711024!16zL20vMDNwemY?entry=ttu&g_ep=EgoyMDI1MDEyOS4xIKXMDSoASAFQAw%3D%3D">HAMILTON</a>
            </div>
        </div>
        <div id="small-boxes-container">
            <h2>Find your next hot date 🔥</h2>
            <div class="four-small-boxes-container">
                <div id="pair-1" class="two-small-boxes-container">
                    <div class="small-box">
                        <div class="image-container">
                            <img src="images/cat2.webp">
                            <div class="button-container">
                                <button class="reject circle-btn"></button>
                                <button class="like circle-btn"></button>
                                <button class="star circle-btn"></button>
                            </div>
                        </div>
                        <div class="text">
                            <p><span class="bold">Goobert</span>, 15</p>
                            <a target="blank" href="https://www.google.com/maps/place/Malibu,+CA,+USA/@34.0066093,-119.0799365,10z/data=!3m1!4b1!4m6!3m5!1s0x80e81da9f908d63f:0x93b72d71b2ea8c5a!8m2!3d34.0380585!4d-118.6923438!16zL20vMHIwbTY?entry=ttu&g_ep=EgoyMDI1MDEyOS4xIKXMDSoASAFQAw%3D%3D">MALIBU • 4,044 KM AWAY</a>
                        </div>
                    </div>
                    <div class="small-box">
                        <div class="image-container">
                            <img src="images/bun6.jpg">
                            <div class="button-container">
                                <button class="reject circle-btn"></button>
                                <button class="like circle-btn"></button>
                                <button class="star circle-btn"></button>
                            </div>
                        </div>
                        <div class="text">
                            <p><span class="bold">Dr. Chestnut (PhD)</span>, 3</p>
                            <a target="blank" href="https://www.google.com/maps?sca_esv=fd202d8ebcc87494&output=search&q=SCARBOROUGH&source=lnms&fbs=ABzOT_CWdhQLP1FcmU5B0fn3xuWpWg7w_0VxNeIu0fUwdGp4Zvqn0qnNovgBDTGje2kYJB5P9ZKM44WRbnjy1aE0A3eRR509I5-LZsj5VDBOrCUuxj3QYqvlYtbTfO_MCWQhpP8agEO95-0HVxZee9N7Zxtzp279_nWAgjlnuqgVJ8UCbwtKS0WdMOOcejBKAzmqO1FYSOJNf2iwOk2d8vJv_pSojxBhCA&entry=mc&ved=1t:200715&ictx=111">SCARBOROUGH • 94 KM AWAY</a>
                        </div>
                    </div>
                </div>
                <div id="pair-2" class="two-small-boxes-container">
                    <div class="small-box">
                        <div class="image-container">
                            <img src="images/ugly.jpg">
                            <div class="button-container">
                                <button class="reject circle-btn"></button>
                                <button class="like circle-btn"></button>
                                <button class="star circle-btn"></button>
                            </div>
                        </div>
                        <div class="text">
                            <p><span class="bold">Selena</span>, 56</p>
                            <a target="blank" href="https://www.google.com/maps/place/Hamilton,+ON/@43.7631935,-79.3939251,11z/data=!4m6!3m5!1s0x882c986c27de778f:0x2b6aee56d8df0e21!8m2!3d43.2557206!4d-79.8711024!16zL20vMDNwemY?entry=ttu&g_ep=EgoyMDI1MDEyOS4xIKXMDSoASAFQAw%3D%3D">HAMILTON • 2 KM AWAY</a>
                        </div>
                    </div>
                    <div class="small-box">
                        <div class="image-container">
                            <img src="images/dog.jpg">
                            <div class="button-container">
                                <button class="reject circle-btn"></button>
                                <button class="like circle-btn"></button>
                                <button class="star circle-btn"></button>
                            </div>
                        </div>
                        <div class="text">
                            <p><span class="bold">Vincent</span>, 23</p>
                            <a target="blank" href="https://www.google.com/maps/place/Brampton,+ON/@43.2608104,-79.9331491,10z/data=!4m6!3m5!1s0x882b15eaa5d05abf:0x352d31667cc38677!8m2!3d43.7315479!4d-79.7624177!16zL20vMDE1NGZz?entry=ttu&g_ep=EgoyMDI1MDEyOS4xIKXMDSoASAFQAw%3D%3D">BRAMPTON • 69 KM AWAY</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="four-small-boxes-container">
                <div id="pair-3" class="two-small-boxes-container">
                    <div class="small-box">
                        <div class="image-container">
                            <img src="images/john-cena.jpg">
                            <div class="button-container">
                                <button class="reject circle-btn"></button>
                                <button class="like circle-btn"></button>
                                <button class="star circle-btn"></button>
                            </div>
                        </div>
                        <div class="text">
                            <p><span class="bold">John Cena</span>, 47</p>
                            <a target="blank" href="http://www.404notfound.com/">MASSACHUSETTS • ???</a>
                        </div>
                    </div>
                    <div class="small-box">
                        <div class="image-container">
                            <img src="images/cat6.gif">
                            <div class="button-container">
                                <button class="reject circle-btn"></button>
                                <button class="like circle-btn"></button>
                                <button class="star circle-btn"></button>
                            </div>
                        </div>
                        <div class="text">
                            <p><span class="bold">Honda Civic</span>, 2 months</p>
                            <a target="blank" href="https://www.google.com/maps/place/Hamilton,+ON/@43.7631935,-79.3939251,11z/data=!4m6!3m5!1s0x882c986c27de778f:0x2b6aee56d8df0e21!8m2!3d43.2557206!4d-79.8711024!16zL20vMDNwemY?entry=ttu&g_ep=EgoyMDI1MDEyOS4xIKXMDSoASAFQAw%3D%3D">HAMILTON • 500 M AWAY</a>
                        </div>
                    </div>
                </div>
                <div id="pair-4" class="two-small-boxes-container">
                    <div class="small-box">
                        <div class="image-container">
                            <img src="images/cat2.webp">
                            <div class="button-container">
                                <button class="reject circle-btn"></button>
                                <button class="like circle-btn"></button>
                                <button class="star circle-btn"></button>
                            </div>
                        </div>
                        <div class="text">
                            <p><span class="bold">Goobert's Twin</span>, 15</p>
                            <a target="blank" href="https://www.google.com/maps/place/Malibu,+CA,+USA/@34.0066093,-119.0799365,10z/data=!3m1!4b1!4m6!3m5!1s0x80e81da9f908d63f:0x93b72d71b2ea8c5a!8m2!3d34.0380585!4d-118.6923438!16zL20vMHIwbTY?entry=ttu&g_ep=EgoyMDI1MDEyOS4xIKXMDSoASAFQAw%3D%3D">MALIBU • 4,044 KM AWAY</a>
                        </div>
                    </div>
                    <div class="small-box">
                        <div class="image-container">
                            <img src="images/date.png">
                            <div class="button-container">
                                <button class="reject circle-btn"></button>
                                <button class="like circle-btn"></button>
                                <button class="star circle-btn"></button>
                            </div>
                        </div>
                        <div class="text">
                            <p><span class="bold">Date</span>, 32</p>
                            <a target="blank" href="https://www.google.com/maps/place/Cairo,+Cairo+Governorate,+Egypt/@30.0594885,31.2584644,13z/data=!3m1!4b1!4m6!3m5!1s0x14583fa60b21beeb:0x79dfb296e8423bba!8m2!3d30.0444196!4d31.2357116!16zL20vMDF3MnY?entry=ttu&g_ep=EgoyMDI1MDEyOS4xIKXMDSoASAFQAw%3D%3D">CAIRO • 9,263 KM AWAY</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>